---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Diplomaturas" description="Página donde se muestran las distintas Diplomaturas que ofrece la institución.">

<h1>Nuestras Diplomaturas</h1>

<section class="diplo-docente">
<h2>HABILIDADES DIGITALES E IA PARA LA FORMACIÓN DOCENTE</h2>

<p>Universidad Nacional de Tres de Febrero
Duración: 6 meses
Modalidad: virtual.
Financiamiento: Municipalidad de Bolívar.
</p>
</section>

<section class="diplo-tecno">
<h2>COMERCIO ELECTRÓNICO, TIENDAS VIRTUALES Y MKT DIGITAL</h2>

<p>Universidad Nacional de Tres de Febrero.
Duración: 6 meses
Modalidad: virtual.
Financiamiento: Municipalidad de Bolívar
</p>
</section>

<section class="diplo-ciberseguridad">
<h2>GESTIÓN DE LA CIBERSEGURIDAD</h2>

<p>Universidad Nacional General Sarmiento
Duración: 9 meses
Modalidad: virtual.
Financiamiento: Programa PUENTES
</p>
</section>

<section class="diplo-agro">
<h2>DIRECCIÓN Y GESTIÓN DE AGRONEGOCIOS</h2>

<p>Universidad del Centro de la Provincia de Buenos Aires
Duración: 1 año
Modalidad: Presencial cada 15 días.
Financiamiento: Programa PUENTES.
</p>
</section>

<section class="diplo-datos">
<h2>ANÁLISIS DE DATOS</h2>

<p>Universidad Nacional de San Martín
Duración: 
Modalidad: Virtual
Financiamiento: Programa PUENTES.
</p>
</section>

</BaseLayout>