---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Oferta Académica" description="Página con información sobre distintas ofertas educativas.">
<h1>Nuestra oferta academica</h1>


</BaseLayout>