---
import BaseLayout from '../../layouts/BaseLayout.astro'
---

<BaseLayout
    title="Diplomaturas"
    description="Página donde se muestran las distintas Diplomaturas que ofrece la institución."
>
    <h1 class="titulo">Nuestras Ingenierias</h1>

    <article class="ingenieria">
        <h2>INGENIERÍA AMBIENTAL</h2>

        <ul class="info-ingenieria">
            <li>Universidad Nacional de Tres de Febrero</li>
            <li>Duración: 5 años</li>
            <li>Modalidad: Híbrida</li>
            <li>Financiamiento: Municipalidad de Bolívar</li>
        </ul>
    </article>
</BaseLayout>
