---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Diplomaturas" description="Página donde se muestran las distintas Diplomaturas que ofrece la institución.">

<h1>Nuestras Ingenierias</h1>

<section class="ing-ambiental">

<h2>INGENIERÍA AMBIENTAL</h2>

<p>Universidad Nacional de Tres de Febrero
Duración: 5 años
Modalidad: Híbrida
Financiamiento: Municipalidad de Bolívar
</p>
</section>

