---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Diplomaturas" description="Página donde se muestran las distintas Diplomaturas que ofrece la institución.">

<h1>Nuestras Licenciaturas</h1>

<section class="lic-cn">
<h2>LICENCIATURA EN ENSEÑANZA DE LAS CIENCIAS NATURALES</h2>

<p>Universidad Nacional Arturo Jauretche
Duración: 2 años y 6 meses (ciclo complementación docente)
Modalidad: Virtual
Financiamiento: Programa PUENTES
</p>
</section>

<section class="lic-psico">
<h2>LICENCIATURA EN PSICOLOGÍA</h2>

<p>Universidad Nacional de Mar del Plata
Duración: 5 años
Modalidad: Híbrida
Financiamiento: Municipalidad de Bolívar
</p>
</section>

<section class="lic-nutri">
<h2>LICENCIATURA EN NUTRICIÓN</h2>

<p>Universidad Nacional de Tres de Febrero
Duración: 5 años
Modalidad: Híbrida
Financiamiento: Municipalidad de Bolivar
</p>
</section>

</BaseLayout>