---
import BaseLayout from '../../layouts/BaseLayout.astro'
---

<BaseLayout
    title="Diplomaturas"
    description="Página donde se muestran las distintas Diplomaturas que ofrece la institución."
>
    <h1 class="titulo">Nuestras Licenciaturas</h1>

    <article class="licenciatura">
        <h2>LICENCIATURA EN ENSEÑANZA DE LAS CIENCIAS NATURALES</h2>

        <ul class="info-licenciatura">
            <li>Universidad Nacional Arturo Jauretche</li>
            <li>Duración: 2 años y 6 meses (ciclo complementación docente)</li>
            <li>Modalidad: Virtual</li>
            <li>Financiamiento: Programa PUENTES</li>
        </ul>
    </article>

    <article class="licenciatura">
        <h2>LICENCIATURA EN PSICOLOGÍA</h2>

        <ul class="info-licenciatura">
            <li>Universidad Nacional de Mar del Plata</li>
            <li>Duración: 5 años</li>
            <li>Modalidad: Híbrida</li>
            <li>Financiamiento: Municipalidad de Bolívar</li>
        </ul>
    </article>

    <article class="licenciatura">
        <h2>LICENCIATURA EN NUTRICIÓN</h2>

        <ul class="info-licenciatura">
            <li>Universidad Nacional de Tres de Febrero</li>
            <li>Duración: 5 años</li>
            <li>Modalidad: Híbrida</li>
            <li>Financiamiento: Municipalidad de Bolívar</li>
        </ul>
    </article>
</BaseLayout>
