---
import BaseLayout from '../../layouts/BaseLayout.astro'
---

<BaseLayout
    title="Diplomaturas"
    description="Página donde se muestran las distintas Diplomaturas que ofrece la institución."
>
    <section>
        <h1 class="titulo">Nuestras Tecnicaturas</h1>

        <article class="tecnicatura">
            <h2>TECNICATURA UNIVERSITARIA EN QUÍMICA</h2>

            <ul class="info-tecnicatura">
                <li>Universidad Nacional de Quilmes</li>
                <li>Duración: 3 años</li>
                <li>Modalidad: Híbrida</li>
                <li>Financiamiento: Municipalidad de Bolívar</li>
            </ul>
        </article>

        <article class="tecnicatura">
            <h2>TECNICATURA UNIVERSITARIA EN AUTOMATIZACIÓN Y CONTROL</h2>

            <ul class="info-tecnicatura">
                <li>Universidad Nacional de General Sarmiento</li>
                <li>Duración: 3 años</li>
                <li>Modalidad: Híbrida</li>
                <li>Financiamiento: Programa PUENTES</li>
            </ul>
        </article>

        <article class="tecnicatura">
            <h2>TECNICATURA EN ENFERMERÍA</h2>

            <ul class="info-tecnicatura">
                <li>Escuela de Gobierno “Floreal Ferrara”</li>
                <li>Duración: 3 años</li>
                <li>Modalidad: Presencial</li>
                <li>Financiamiento: Municipalidad de Bolívar</li>
            </ul>
        </article>
    </section>
</BaseLayout>
