---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Diplomaturas" description="Página donde se muestran las distintas Diplomaturas que ofrece la institución.">

<h1>Nuestras Tecnicaturas</h1>

<section class="tec-quimica">
<h2>TECNICATURA UNIVERSITARIA EN QUÍMICA</h2>

<p>Universidad Nacional de Quilmes
Duración: 3 años
Modalidad: Híbrida
Financiamiento: Municipalidad de Bolívar
</p>
</section>

<section class="tec-auto">
<h2>TECNICATURA UNIVERSITARIA EN AUTOMATIZACIÓN Y CONTROL</h2>

<p>Universidad Nacional de General Sarmiento
Duración: 3 años
Modalidad: Híbrida
Financiamiento: PROGRAMA PUENTES
</p>
</section>

<section class="tec-enfermeria">
<h2>TECNICATURA EN ENFERMERÍA</h2>

<p>Escuela de Gobierno “Floreal Ferrara”
Duración: 3 años
Modalidad: Presencial
Financiamiento: Municipalidad de Bolívar
</p>
</section>

</BaseLayout>