---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Residencias" description="Página que muestra distintas residencias para estudiantes.">

<section>
<p> Las residencias universitarias ofrecen alojamiento para estudiantes, brindando un lugar para vivir y estudiar en un entorno seguro y de comunidad, además de servicios como comida, limpieza y áreas comunes como gimnasios y salas de estudio. Su objetivo es facilitar la experiencia académica y la integración social de los estudiantes, especialmente aquellos que provienen de otras ciudades o provincias, haciendo que el acceso a la educación superior sea más equitativo. 
</p>

</BaseLayout>