---
import BaseLayout from '../../layouts/BaseLayout.astro'
---

<BaseLayout
    title="Residencia-la-plata"
    description="Página que muestra una de las residencias que ofrece la institución."
>
    <section>
        <h2 class="titulo">Residencias en La Plata</h2>

        <p class="font-cuerpo text-xl p-2 text-gray-700 leading-relaxed">
            La decisión política de la actual gestión municipal puso el acento
            en invertir en educación a través del proyecto de residencias
            estudiantiles en la ciudad de La Plata, albergando así a casi 50
            jóvenes bolivarenses, acompañando a las familias en este proyecto
            tan importante para el futuro de sus hijos, el cual cuenta con 3
            casas del Estudiante.
        </p>

        <ul class="casa-lp">
            <li>CASA 1</li>
            <li>Ubicada en calle 6 nro. 1168 entre 56 y 57</li>

            <li>CASA 2</li>
            <li>Ubicada en calle 4 nro. 524 prolongación 61 (Berisso)</li>

            <li>CASA 3</li>
            <li>Ubicada en calle 5 entre 69 y 70</li>
        </ul>
    </section></BaseLayout
>
