---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Residencia-azul" description="Página que muestra una de las residencias que ofrece la institución.">

<section>
<h2>RESIDENCIAS EN AZUL</h2>

<p>Tres viviendas conveniadas entre la Municipalidad de Bolívar y el Campus Universitario de la Facultad de Cs. Agronómicas de la UNICEN, destinadas a estudiantes de Bolívar que cursan mencionada carrera en Azul.</p>

<h3>Dirección de las residencias</h3>

<p>Las residencias están ubicadas en el campus universitario, en Av. República de Italia y Av. Manuel Chávez.</p>


</BaseLayout>