---
import BaseLayout from '../../layouts/BaseLayout.astro'
---

<BaseLayout
    title="Residencia-azul"
    description="Página que muestra una de las residencias que ofrece la institución."
>
    <section>
        <h2 class="titulo">Residencias en Azul</h2>

        <p class="font-cuerpo text-xl p-2 text-gray-700 leading-relaxed">
            Tres viviendas conveniadas entre la Municipalidad de Bolívar y el
            Campus Universitario de la Facultad de Cs. Agronómicas de la UNICEN,
            destinadas a estudiantes de Bolívar que cursan mencionada carrera en
            Azul.
        </p>

        <h3
            class="font-encabezado text-xl p-2 sm:text-3xl font-semibold mb-3 text-gray-800"
        >
            Dirección de las residencias
        </h3>

        <p class="font-cuerpo text-xl p-2 text-gray-700 leading-relaxed">
            Las residencias están ubicadas en el campus universitario, en Av.
            República de Italia y Av. Manuel Chávez.
        </p>
    </section></BaseLayout
>
