---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Extension" description=".">

<h1>Nuestra oferta academica</h1>

<section class="curso-arte">

<p> Tres encuentros para conocer la historia artística y cultural de nuestra provincia en las primeras décadas del siglo XX. 

Modalidad: Híbrida

Docente: María Guadalupe Suasnábar: Doctora y Magister en Historia del Arte Argentino y Latinoamericano. Es Profesora de Historia e investigadora en la Universidad Universidad Nacional del Centro (Tandil)


</BaseLayout>