---
import BaseLayout from '../../layouts/BaseLayout.astro'
---

<BaseLayout title="Extension" description=".">
    <section>
        <h2 class="titulo">Historia del Arte Bonaerense</h2>
        <p class="font-cuerpo text-xl p-2 text-gray-700 leading-relaxed">
            Tres encuentros para conocer la historia artística y cultural de
            nuestra provincia en las primeras décadas del siglo XX.
        </p>
        <ul class="arte">
            <li>Modalidad: Híbrida</li>
            <li>
                Docente: María Guadalupe Suasnábar: Doctora y Magister en
                Historia del Arte Argentino y Latinoamericano. Es Profesora de
                Historia e investigadora en la Universidad Universidad Nacional
                del Centro (Tandil)
            </li>
        </ul>
    </section></BaseLayout
>
