---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Extension" description=".">

<h1>Nuestra oferta academica</h1>

<section class="curso-bonaerense">
<h2>Curso para la Actualización de Paz Bonaerense</h2>
<p>Dirigido a magistrados, funcionarios, empleados, defensores y asesores ad hoc, abogados y estudiantes avanzados de la carrera.

Modalidad: Presencial de abril a diciembre (segundo viernes y sábado del mes)
 
</BaseLayout>