---
import BaseLayout from '../../layouts/BaseLayout.astro'
---

<BaseLayout title="Extension" description=".">
    <section>
        <h2 class="titulo">Curso para la Actualización de Paz Bonaerense</h2>
        <p class="font-cuerpo text-xl p-2 text-gray-700 leading-relaxed">
            Dirigido a magistrados, funcionarios, empleados, defensores y
            asesores ad hoc, abogados y estudiantes avanzados de la carrera.
        </p>
        <p class="font-cuerpo text-xl p-2 text-gray-700 leading-relaxed">
            Modalidad: Presencial de abril a diciembre (segundo viernes y sábado
            del mes)
        </p>
    </section></BaseLayout
>
