---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout
    title="Inicio"
    description="Página principal en la que se muestra la información más relevante."
>
    <h1></h1>

    <section>
        <p>Aquí va el contenido único y promocional de la página de inicio.</p>
    </section>
</BaseLayout>
