---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Residencias" description="Página que muestra distintas residencias para estudiantes.">
<h1>Nuestra oferta academica</h1>


</BaseLayout>