footer {
    background-color: #002D72;
    color: #F8F8F8;
    padding: 40px 20px 10px;
    font-family: Arial, sans-serif;
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
}

.footer-grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-bottom: 30px;
}

.footer-section h3 {
    color: #ffffff;
    margin-top: 0;
    padding-bottom: 5px;
    font-size: 1.2em;
    margin-bottom: 15px;
}

.footer-section p {
    margin-bottom: 8px;
    line-height: 1.5;
    font-size: 0.9em;
}


.footer-section a {
    color: #F8F8F8;
    text-decoration: none;
    transition: color 0.2s ease;
}

.footer-section a:hover {
    color: rgb(204, 204, 204);
}

.enlaces ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.enlaces li {
    margin-bottom: 8px;
}


.social-links {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    color: #002D72;
    background-color: #F8F8F8;
    border-radius: 50%;
}

.social-links a:hover {
    background-color: #194c99;
    color: #ffffff;
}


.footer-copyright {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 10px;
    margin-top: 20px;
    font-size: 0.8em;
}


@media (max-width: 768px) {
    .footer-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-section h3 {
        border-bottom: none;
        text-align: center;
    }

    .enlaces ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .social-links {
        justify-content: center;
    }
}