---
import Navegacion from './navegacion.astro';
---
<header>
    <div class="logo">
    <a href="/" id="sec-logo"> <img src="/img/CRUB.jpg" alt="Imagén del logo de la institución."> 
    </a>
    </div>
    <Navegacion />
</header>