html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


main {
    flex-grow: 1;
}

.menu-principal {
    display: grid;
    justify-content: center;
    background-color: #ffffff;
    padding: 10px 20px;
    border-bottom: 1px solid #111111;
}

.lista-secciones {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.seccion-item {
    position: relative;
}


.lista-subcategorias {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 10;
    list-style: none;
    padding: 10px;
    min-width: 200px;
}

.con-subcategorias:hover .lista-subcategorias {
    display: block;
    background-color: rgb(101, 195, 238);
}


.enlace-principal,
.enlace-subcategoria {
    text-decoration: none;
    padding: 8px 15px;
    display: block;
}

#sec-logo {
    margin: 0 auto auto 0;
    padding: 15px;
    width: 80px;
    display: block;
}

#sec-logo img {
    width: 100%;
    height: auto;
}