---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Institución">

<section class="latest-news">
        <h2>Últimas Novedades</h2>
        <a href="/noticias">Ver todas las noticias</a>
    </section>

</BaseLayout>