---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Proyecto expo-Bolivar" description="Página donde se muestra el proyecto para ayudar a chicos de nivel secundario a orientar su futuro académico.">


<section class="prepa">
<h2>PROYECTO PREPARATORIA</h2>

<p> La propuesta está destinada a los alumnos y alumnas de nivel secundario del Partido de Bolívar, y también a aquellas personas que quieran orientar su futuro hacia una carrera, oficio o trabajo.
Los estudiantes pueden cursar en el Centro Regional Universitario de manera gratuita, en horarios de tarde, a contraturno de la cursada de la mayoría de los estudiantes de secundaria del partido de Bolívar.  
El programa existe desde el año 2019 con renovación de propuestas en función de lo que solicitan los estudiantes de Bolivar.
Con el objetivo de brindar educación de calidad para la comunidad, es fundamental para la gestión, darle continuidad a los proyectos que se convierten en una necesidad para los jóvenes y una oportunidad para el desarrollo 
de todo su potencial.
</p>
</section>


</BaseLayout>