---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Proyectos" description="Página que muestra distintos proyectos que se realizan en el centro educativo.">
<h1>Nuestra oferta academica</h1>



</BaseLayout>