---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Proyectos" description="Página que muestra distintos proyectos que se realizan en el centro educativo.">
<h1>Proyectos de nuestra institución</h1>



</BaseLayout>