---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Proyecto-preparatoria" description="Página donde se muestra el proyecto preparatoria dedicada a jovenes.">


<section class="expo">
<h2>EXPO-BOLIVAR EDUCA</h2>

<h3>¿Qué es?</h3>
<ul>
<li>Una expo de carreras universitarias, terciarias, y oferta de formación laboral del partido de Bolívar.</li>
<li>Un espacio para que estudiantes conozcan la oferta académica de diversas instituciones.</li>
</ul>

<h3>¿Quién lo organiza?</h3>
<p>La Dirección Municipal de Educación de la Municipalidad de Bolívar.<p>

<h3>¿Dónde y cuándo se realiza?</h3>
<ul>
<li>Se realiza en el Centro Regional Universitario de Bolívar (CRUB).</li>
<li>Tiene una edición anual, este año es el jueves 6 de noviembre.</li>
</ul>

<h3>¿Quiénes participan?</h3>
<ul>
<li>Instituciones universitarias y terciarias locales y regionales.</li>
<li>Estudiantes de secundaria, padres, docentes y público en general.</li>
</ul>

<h3>¿Cuál es el objetivo?</h3>
<ul>
<li>Informar y orientar a la comunidad sobre las carreras y formaciones disponibles.</li>
<li>Ayudar a los estudiantes en la elección de su camino educativo y laboral.</li>
</ul>

</section>

</BaseLayout>